
src/BookStore.Domain/obj/Debug/net8.0/ref/BookStore.Domain.dll
src/BookStore.Domain/obj/Debug/net8.0/refint/BookStore.Domain.dll
src/BookStore.Infrastructure/bin/Debug/net8.0/BookStore.Domain.dll
src/BookStore.Infrastructure/bin/Debug/net8.0/BookStore.Domain.pdb
src/BookStore.Infrastructure/bin/Debug/net8.0/BookStore.Infrastructure.dll
src/BookStore.Infrastructure/bin/Debug/net8.0/BookStore.Infrastructure.pdb
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfo.cs
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfoInputs.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.csproj.AssemblyReference.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.csproj.FileListAbsolute.txt
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.dll
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.pdb
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.sourcelink.json
src/BookStore.Infrastructure/obj/Debug/net8.0/ref/BookStore.Infrastructure.dll
src/BookStore.Infrastructure/obj/Debug/net8.0/refint/BookStore.Infrastructure.dll
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.Domain.dll
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.Domain.pdb
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.Infrastructure.dll
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.Infrastructure.pdb
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.WebApi.dll
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.WebApi.exe
src/BookStore.WebApi/bin/Debug/net8.0/BookStore.WebApi.pdb
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.csproj.AssemblyReference.cache
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.AssemblyInfoInputs.cache
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.AssemblyInfo.cs
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.csproj.AssemblyReference.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfoInputs.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfo.cs
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.AssemblyInfoInputs.cache
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.AssemblyInfo.cs
.vs/ProjectEvaluation/bookstore.strings.v8.bin
.vs/ProjectEvaluation/bookstore.projects.v8.bin
.vs/ProjectEvaluation/bookstore.metadata.v8.bin
.vs/BookStore/v17/.suo
.vs/BookStore/v17/.futdcache.v2
.vs/BookStore/FileContentIndex/ccaf81dc-1b0b-4815-97fb-13bff7997e1d.vsidx
.vs/BookStore/FileContentIndex/ae10a6e6-36ba-48b5-99ca-27a8697c6019.vsidx
.vs/BookStore/FileContentIndex/1b197e31-0f5c-4a28-a9e8-96491c79fc16.vsidx
.vs/BookStore/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.dll
*.pdb
*.exe
*.dll
*.txt
*.json
*.txt
*.pdb
